@tailwind base;
@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Bold"), local("GoogleSans-Bold"),
    url("./fonts/GoogleSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Medium Italic"), local("GoogleSans-MediumItalic"),
    url("./fonts/GoogleSans-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Italic"), local("GoogleSans-Italic"),
    url("./fonts/Google-Sans/GoogleSans-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Regular"), local("GoogleSans-Regular"),
    url("./fonts/Google-Sans/GoogleSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Medium"), local("GoogleSans-Medium"),
    url("./fonts/Google-Sans/GoogleSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Bold Italic"), local("GoogleSans-BoldItalic"),
    url("./fonts/Google-Sans/GoogleSans-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: Google Sans;
}

@tailwind components;

@tailwind utilities;

@responsive {
  .-translate-100 {
    transform: translate(-100%);
  }
}
